
# Specific binaries
PatternRecognitionLibTest

*.o
*.a

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Qt Creator project and build files
*.pro.user
src/build-*
test/build-*
build-*